 /* ======= BODY OPTIONS =======*/
* {
/*	border: 1px solid black;*/
}

body {
	margin: 0;
	padding: 0;
	font-family: Raleway;
}
/* ======= END BODY OPTIONS =======*/

/* ======= NAV HEADER =======*/
nav {
	height: 60px;
	line-height: 60px;
}

nav a {
	font-size: 0.9em;
	font-weight: medium;
	color: #484848;
	padding-bottom: 10px;
}

nav a:hover {
	text-decoration: none;
	border-bottom: 2px solid #484848;
}

#logo {
	margin: 0;
	padding: 0;
	height: 50px;
}
/* ======= END NAV HEADER =======*/

/* ======= SECTION 1 =======*/
#section1 {
	padding: 35px 0px 35px 0px;
}

#section1 h1 {
	font-size: 3.6em;
	font-weight: bold;
	color: #FF5A5F;
}

#section1 p {
	font-size: 3.0em;
	color: #484848;
}
/* ======= END SECTION 1 =======*/

/* ======= SECTION 2 : BUTTONS =======*/
.recherche {
	height: 60px;
	line-height: 60px;
	border: 1px solid rgb(206, 200, 200);
	border-radius: 4px;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.50);
}

#section2 a:hover {
	text-decoration: none;
}

#section2 p {
	color: #484848;
	font-size: 1.2em;
}

#section2 span {
	font-size: 0.8em;
	color: rgb(206, 200, 200);
	padding-left: 10px;
}

#section2 button {
	width: 200px;
	border: 1px solid rgb(206, 200, 200);
}

.first {
	border-right: 1px solid rgba(206, 200, 200, 0.3);
}

.middle {
	border-right: 1px solid rgba(206, 200, 200, 0.3);
}
/* ======= END SECTION 2 : BUTTONS =======*/

/* ======= SECTION 3 : ONGLETS =======*/
#section3 {
	padding-top: 30px;
}

#section3 a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
}

#section3 a:hover {
	color: #2E979B;
	padding-bottom: 21px;
	border-bottom: 2px solid #2E979B;
}

hr {
	border-color: rgba(206, 200, 200, 0.5);
}
/* ======= END SECTION 3 : ONGLETS =======*/

/* ======= SECTION 4 =======*/
#section4 {
	padding-top: 30px;
	padding-bottom: 50px;
	height: 30px;
	line-height: 30px;
}

#section4 p {
	font-size: 1.5em;
	font-weight: bold;
}

#section4 a {
	color: #000;
	text-decoration: none;
}
/* ======= END SECTINON 4 =======*/

/* ======= SECTION 5 : PHOTOS =======*/
#section5 img {
	height: 300px;
	width: 200px;
}

.imageleft {
	padding: 0px 118px 0px 118px;
}

.imageright {
	padding-right: 118px;
}
/* ======= END SECTION 5 : PHOTOS =======*/

/* ======= SECTION 6 : LEGENDS =======*/
#section6 {
	padding-top: 10px;
}

#section6 a {
	text-decoration: none;
	color: #484848;
}

.liens {
	display: flex;
	justify-content: space-between;
	font-weight: lighter;
}

.liens span {
	font-weight: bold;
}

/*.link1 {
	padding-right: 30px;
}

.link2 {
	padding-right: 10px;
}

.link3 {
	padding-right: 20px;
}

.link4 {
	padding-right: 20px;
}*/
/* ======= END SECTION 6 : LEGENDS =======*/

/* =======  =======*/
/* =======  =======*/

/* =======  =======*/
/* =======  =======*/

