 /* ======= BODY OPTIONS =======*/
* {
/*	border: 1px solid black;*/
}

body {
	margin: 0;
	padding: 0;
	font-family: Raleway;
}
/* ======= END BODY OPTIONS =======*/

/* ======= NAV HEADER =======*/
nav {
	height: 60px;
	line-height: 60px;
}

nav a {
	font-size: 0.9em;
	font-weight: medium;
	color: #484848;
	padding-bottom: 10px;
}

nav a:hover {
	text-decoration: none;
	border-bottom: 2px solid #484848;
}

#logo {
	margin: 0;
	padding: 0;
	height: 50px;
}
/* ======= END NAV HEADER =======*/

/* ======= SECTION 1 : AIRBNB =======*/
#section1 {
	padding: 35px 0px 35px 0px;
}

#section1 h1 {
	font-size: 3.6em;
	font-weight: bold;
	color: #FF5A5F;
}

#section1 p {
	font-size: 3.0em;
	color: #484848;
}
/* ======= END SECTION 1 : AIRBNB =======*/

/* ======= SECTION 2 : FORMULAIRE =======*/
.recherche {
	height: 60px;
	line-height: 60px;
	border: 1px solid rgb(206, 200, 200);
	border-radius: 4px;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.50);
}

#section2 a:hover {
	text-decoration: none;
}

#section2 p {
	color: #484848;
	font-size: 1.2em;
}

#section2 span {
	font-size: 0.8em;
	color: rgb(206, 200, 200);
	padding-left: 10px;
}

#section2 button {
	width: 200px;
	border: 1px solid rgb(206, 200, 200);
}

.first {
	border-right: 1px solid rgba(206, 200, 200, 0.3);
}

.middle {
	border-right: 1px solid rgba(206, 200, 200, 0.3);
}
/* ======= END SECTION 2 : FORMULAIRE =======*/

/* ======= SECTION 3 : ONGLETS =======*/
#section3 {
	padding-top: 30px;
}

#section3 a {
	color: #484848;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
}

#section3 a:hover {
	color: #2E979B;
	padding-bottom: 21px;
	border-bottom: 2px solid #2E979B;
}

hr {
	border-color: rgba(206, 200, 200, 0.5);
}
/* ======= END SECTION 3 : ONGLETS =======*/

/* ======= SECTION : TITLES =======*/
#sectiontitles {
	padding-top: 40px;
	padding-bottom: 40px;
	height: 50px;
	line-height: 50px;
}

#sectiontitles p {
	font-size: 1.5em;
	font-weight: bold;
	color: #484848;
}

#sectiontitles a {
	text-decoration: none;
	color: #484848;
}
/* ======= END SECTINON : TITLES =======*/

/* ======= SECTION 4 : EXPERIENCES =======*/
#section4 img {
	height: 300px;
	width: 200px;
	padding-bottom: 8px;
}

#section4 p {
	font-size: 0.9em;
	padding-top: 5px;
	font-family: Lato;
}


#section4 a {
	text-decoration: none;
	color: #484848;
	font-weight: lighter;
	font-family: Lato;
	font-size: 1.1em;
}

#section4 span {
	font-weight: bold;
}

.photos {
	display: flex;
}

.experienceimg {
	padding-left: 36px;
}

i {
	color: #2E979B;
}
/* ======= END SECTION 4 : EXPERIENCES =======*/

/* ======= SECTION 5 : DESTINATIONS =======*/
.destinationtitle {
	padding-bottom: 20px;
	font-size: 1.5em;
	font-weight: bold;
}

.destinations img {
	height: 250px;
	width: 175px;
}

.destinationscity {
	font-size: 1.1em;
	font-weight: bold;
	padding-top: 10px;
}
/* ======= END SECTION 5 : DESTINATIONS =======*/

/* ======= SECTION 6 : LOGEMENTS =======*/
#section6 {
	padding-bottom: 20px;
}

#section6 img {
	height: 250px;
	width: 368px;
	padding-bottom: 8px;
}
#section6 span {
	font-weight: bold;
	font-size: 1.2em;
}

#section6 a {
	text-decoration: none;
	color: #484848;
}

.logeimg {
	font-family: Lato;
	font-weight: lighter;
}
/* ======= END SECTION 6 : LOGEMENTS =======*/

/* ======= FOOTER =======*/
#footer a {
	font-family: Lato;
	color: rgb(206, 200, 200);
}

#footer hr {
	padding-top: 10px;
}

.linksfooter {
	display: flex;
	justify-content: space-between;
}

.footerlangue {
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid rgb(206, 200, 200);
	padding: 10px;
}

.footertitle{
	font-weight: bold;
	font-size: 1.2em;
}

.footer2 {
	display: flex;
	height: 50px;
	line-height: 32px;
	font-weight: bold;
	color: rgb(206, 200, 200);
}

.logofooter {
	height: 30px;
	width: 30px;
}

.endfooter {
	padding-left: 597px;
	padding-bottom: 70px;
}

.endfooter a {
	padding-left: 10px;
}
/* ======= END FOOTER =======*/